Repository 67P/kredits-web, pull requests merged in 2019-04, with the labels that each got.

#91 Fix highlighting of current user in contributor list
  app/components/contributor-list/template.hbs
  app/helpers/is-current-user.js
  app/models/contributor.js
  tests/unit/helpers/is-current-user-test.js
Labels: in progress, kredits-1

#90 Update kredits-contracts and ethers.js
  app/services/kredits.js
  config/environment.js
  package-lock.json
  package.json
Labels: in progress, kredits-2

#93 Remove default contributors value in propsal component
  app/components/add-proposal/component.js
Labels: in progress

#95 Use new Infura URL/auth
  config/environment.js
Labels: in progress, kredits-1

#97 Support new Metamask/Web3 privacy mode
  app/services/kredits.js
Labels: kredits-1

#94 Add Kredits preflight checks
  app/routes/application.js
Labels: in progress, kredits-1

#105 Clean up package.json a bit
  package.json
Labels: kredits-1

#104 Fix kredits balance handling
  app/controllers/index.js
  app/models/contributor.js
  app/services/kredits.js
  app/utils/cps/kredits.js
  app/utils/format-kredits.js
Labels: kredits-1

#107 Display contribution balances not token balances
  app/components/contributor-list/template.hbs
  app/controllers/index.js
  app/models/contributor.js
  app/services/kredits.js
  app/templates/index.hbs
  package-lock.json
  package.json
  tests/unit/controllers/index-test.js
Labels: kredits-1

#109 Improve contribution lists
  app/components/contribution-list/template.hbs
  app/components/contributor-list/template.hbs
  app/components/loading-spinner/template.hbs
  app/components/user-avatar/component.js
  app/components/user-avatar/template.hbs
  app/styles/app.scss
  app/styles/components/_contribution-list.scss
  app/styles/components/_contributor-list.scss
  app/styles/components/_user-avatar.scss
  app/templates/index.hbs
  tests/integration/components/loading-spinner/component-test.js
  tests/integration/components/user-avatar/component-test.js
Labels: kredits-2

#110 List 200 contributions per page
  app/services/kredits.js
Labels: kredits-1

#108 Fix/update adding contributors
  app/components/add-contributor/component.js
  app/components/add-contributor/template.hbs
  app/components/contributor-list/template.hbs
  app/controllers/index.js
  app/services/kredits.js
  package-lock.json
  package.json
Labels: kredits-1
